@media screen and (max-width:721px){
    *{margin: 0;padding: 0;}
    #wrap{width: 721px;height: auto;position: relative;margin: 0 auto;}
    #header{width: 100%;height: 110px;position: relative;margin: 0 auto;}
    #visual{width: 100%;height: 1300px;}
    .gnb_btn{display: block;position: relative;float: left;top: 45px;left: 30px;}
    .micon{display: block;position: relative;float: right;top: 44px;margin-right: 70px;}
    .vis{display: none;}
    .m_vis{display: block;float: left;}
    .m_vis .ma2 img,.ma3 img{width: 50%;height: 50%;float: left;margin-top: -10px;}
    h1{text-align: center;transform: translate(150%);}
    h2{text-align: center;font-weight: bold;font-size: 30px;}
    
    #container ul{display: none;}
    #container .m_container img{display: block;float: left;margin: 0 auto;width: 100%;}
    #container .m_container button{display: block;width: 650px;height: 45px;background-color: #000000;color: #fff;
        border: 0; position: relative;font-size:1.5em;margin-top: 6px;margin-bottom: 7px;float: left;transform: translate(3%);top: 10px;}
    #container2 ul{display: none;}
    #container .m_container button:hover{background: #858585;color: rgb(255, 255, 255);transform: 1.5s;
        font-size: 1.9em;font-weight: bold;}
    #container2 .m_container2 img{display: block;float: left;margin: 0 auto;width: 100%;}
    .gnb_list{display: none;}
    .icon{display: none;}

    #slide{display: none;}
    #m_slide{display: block;}
    .mslide1 button{width: 620px;height: 60px;background-color: #ffffff;color: #000000;
        border: 0; position: absolute;font-size:2em;top: 62.5%;
        left: 6%;}
    .mslide2 button{width: 620px;height: 60px;background-color: #000000;color: #ffffff;
            border: 0; position: absolute;font-size:2em;top: 74.5%;
            left: 6%;}
    #m_slide button:hover{background-color: #969696;font-size: 2.2em;font-weight: bold;}
    .mslide1 h2{padding: 10px 20px;
        text-align: center;
        position: absolute;
        top: 59.2%;
        transform: translate(-10%,50%); font-size: 70px;width: 770px;color: #ffffff;}
    .mslide2 h2{padding: 10px 20px;
        text-align: center;
        position: absolute;
        top: 71.1%;
        transform: translate(-10%,50%); font-size: 70px;width: 770px;}
    .mslide1 p{padding: 10px 20px;
        text-align: center;
        position: absolute;
        top: 61.1%;
        transform: translate(-10%, 50%); font-size: 30px;width: 770px;color: #ffffff;}
    .mslide2 p{padding: 10px 20px;
        text-align: center;
        position: absolute;
        top: 73%;
        transform: translate(-11%, 50%); font-size: 30px;width: 770px;}
    .under{margin-top: -5px;height: 280px;width: 100%;}
    #product{display: none;}
    #mpro{display: block;}
    .mgunder{margin-top: -5px;height: 200px;width: 100%;}
        #mpro p{position: absolute;top: 85%;font-size: 30px;padding-left: 45px;}
        #mpro h2{position: absolute;top: 85.5%;font-size: 70px;padding-left: 44px;}
    #mpro button{width: 620px;height: 60px;background-color: #000000;color: #ffffff;
        border: 0; position: absolute;font-size:2em;top: 87.1%;left: 6%;}
        #mpro button:hover{background: #858585;color: rgb(255, 255, 255);
            font-size: 2.3em;font-weight: bold;}
    #fimg{display: none;}
    #mfimg{display: block;height: 740px;}
    #mfimg p{position: absolute;top: 96.6%;font-size: 25px;padding-left: 45px;}
    #mfimg h2{position: absolute;top: 97%;font-size: 67px;padding-left: 44px;}
#mfimg button{width: 620px;height: 60px;background-color: #000000;color: #ffffff;
    border: 0; position: absolute;font-size:2em;top: 98.5%;left: 6%;}
    #mfimg button:hover{background: #858585;font-size: 2.3em;font-weight: bold;}
    .gray{margin-top: -5px;height: 240px;width: 100%;}
    #footer{text-align: center;float: left;position: relative;
        height: 150px;width: 730px;margin-top: -10px;}
    #banner{display: block;float: left;position: relative;}
}
@media screen and (min-width:722px){
    #wrap{display: block;}
}