@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*reset*/
html,body { width:100%;height:100% }
* {margin:0;padding:0}
body,h1,h2,p,div,form,input,button {font-size:12px}
ul,ol,li {list-style:none}
img {vertical-align:top}
img,fieldset,iframe {border:0}
table {border-collapse:collapse}

/*base*/
body {
 color:#767676;font:14px/21px "Nanum Gothic","Arial";
 -webkit-text-size-adjust:none; /*글자크기조절방지*/
 }
 a {text-decoration:none;color:#767676}
 .skip_nav, .blind {position:absolute;top:-9999px;font-size:0}