@import url(common.css);
@import url(header.css);
@import url(footer.css);

#container6 {width:100%;padding-bottom:5%;border-bottom:2px dashed #ffffff;}
#container6 h1 {width:50%;margin:0 auto;padding:120px 0 10px 0;color:#7e7e7e;font-size:24px;text-transform:uppercase;text-align: center;}
#container6 .qnaBox table {width:70%;margin:0 auto;}
#container6 .qnaBox table tr,#container6 .qnaBox table td 
       {border:2px solid #ccc;padding:10px;font-size:15px;font-weight:bold;}
#container6 .qnaBox table td a {color:#000000;}
#container6 .qnaContents {width:100%;margin:60px 0 50px;}
#container6 .qnaContents  dl{width:100%;}
#container6 .qnaContents  dt{width:100%;font-size: 1.7em;padding:3px 0;border:1px solid #ccc;background-color: #ffffff;
    text-transform:uppercase;line-height:25px;cursor:pointer;color:#353535;padding-left: 10px;}
#container6 .qnaContents  dd ul li {width:80%;margin:0 auto;font-size:13px;cursor:pointer;padding:10px 0;border-bottom:1px solid #ccc;text-align:left;}
#container6 .qnaContents  dd  ul.answer li {border:none;}
#container6 .qnaContents  dd  ul li .answer {width:100%;margin:0 auto;background-color: #fff;text-align:justify}
#container6 .qnaContents  dd  ul li a {display:block;line-height:20px;}
#container6 .qnaContents  dd{display: none;}
#container6 .qnaContents  dd  ul li .answer{display: none;}
#container6 .qnaContents  dl dd.on {display:block;}
#container6 .qnaContents ul.Q li ul.on{display:block;}